//** Bilan de fin d'OF ********************************************************
.bilan_fin_of_page {
    font-size:11pt;
}
.bilan_fin_of_page th {
    text-align:left;
}
.bilan_fin_of_header {
    font-size:15pt;
    font-weight: bold;
}
.bilan_fin_of_footer {
    font-size:10pt;
}
.text-left{
    text-align:left;
} 
.text-right{
    text-align:right;
}
